# Keycloak / PostgreSQL の実データ（永続化ボリューム）
idp/data/keycloak/*
idp/data/keycloak-db/*
!idp/data/keycloak/.gitkeep
!idp/data/keycloak-db/.gitkeep

idp/certs/server.key
idp/certs/server.crt

.DS_Store

.env
app/.env
idp/.env
